name: Release
on:
  push:
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout http-request-signer repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java, Scala, and SBT
        uses: olafurpg/setup-scala@v14
        with:
          java-version: openjdk@1.17

      - name: Build and publish http-request-signer artifacts to Maven
        run: sbt ci-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
